<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <link rel="stylesheet" href="index.css">
    <script src="landing.js" defer></script>
</head>
<body>
    <div class="landing-container">
        <img class="landingBg" alt="" src="Images/landingBg.png" />
        <div class="blur"></div>
        <div class="text">
            <div class="foodie">Foodie</div>
            <div class="tagline">Fast Food Made Faster</div>
        </div>
        <button class="home-btn">Home</button>
    </div>
</body>
</html>