<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signUp.css">
    <script src="signUp.js" defer></script>
</head>
<body>
    <div class="signUp-container">

            <div class="create-account">
                Create Account
            </div>
    
            <button class="login-btn">
                Already Registered? Log in here
            </button>

        <form class="create-acc-form">
            <!-- <div class="create-account">Create Account</div> -->
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
  
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <button class="signUp-btn">Sign Up</button>
            </div>

        </form>
        
      </div>
</body>
</html>